.green{
    color: rgb(39, 226, 39);
}

.red{
    color: red;
}
.yellow{
    color: yellow;
}

.div_card{
    width: 350px;
    height:  100%;
    color:#FBFBFB;
    border-radius: 24px;
    background-color: #062226;
    
}
.div_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    
}
.img{
    border-radius: 6px;
}
